<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="qiniu" connectionString="server=127.0.0.1;uid=root;pwd=********;database=qiniu;Allow User Variables=True;" />
  </connectionStrings>
  <appSettings>
    <add key="AK" value="********" />
    <add key="SK" value="********" />
    <add key="defaultbucket" value="********" />
  </appSettings>
</configuration>